<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <!--IE compatability-->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="Orange Arrow Game">
        <!--Open Graph SEO information-->
        <meta property="og:title" content="Orange Arrow Game">
        <meta property="og:description" content="Trivia Game for Student Athletes in Orange Arrow">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Orange Arrow Game</title>
    </head>
    <body>
        <div class="header">
            <ul>
                <li><a href="#home">News</a></li>
                <li><a href="#home">Contact</a></li>
                <li><a href="#home">About</a></li>
                <li><a class="active" href="#home">Orange Arrow</a></li>
            </ul>
        </div>
        <div class="profile-body">
            <div class="profile-pic">
                Profile pic here
            </div>
        </div>
    </body>
</html>